# Ignore all Excel files in folder 'Shipment Data'
Shipment\ Data/*.xlsx

# Ignore all Excel files in folder 'Track Report'
Track\ Report/*.xlsx

# Ignore all files inside 'Carrier API Data' folder
Carrier\ API\ Data/*
